<div class="custom-control custom-checkbox my-3">
    <input type="checkbox" class="custom-control-input" id="shippedOrders" (change)="showShipped()">
    <label class="custom-control-label" for="shippedOrders">Display Shipped Orders</label>
</div>

<table class="table rounded-top">
    <thead>
        <tr class="bg-light">
            <th>Name</th>
            <th>Address</th>
            <th colspan="2">Cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="orderList.length == 0">
            <td colspan="3" class="text-center font-weight-bold">There are no orders</td>
        </tr>
        <tr *ngFor="let order of orderList index as i">
            <td>{{order.name}}</td>
            <td>{{order.address}}</td>
            <td class="p-0">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
        <tr *ngFor="let position of orderList[i].cart">
            <td>{{position.product.name}}</td>
            <td class="text-center">{{position.quantity}}</td>
        </tr>
        </td>
        <td class="align-middle border-left">
            <button class="btn btn-warning btn-sm m-2" *ngIf="!shipped" (click)="ship(order)">Ship</button>
            <button class="btn btn-danger btn-sm" (click)="deleteOrder(order.id)">Delete</button>
        </td>
        </tr>
    </tbody>
</table>